<section class="bg-primary bg-dark" style="background-color: #ec474e;" id="about">
    <div class="container">
    <center><p style="font-size: 40px;">DO THE FIVE</p></center>
    <br><br>
    <div class="row">
      <div class="col img-col">
        <div class="akash-img"></div>
        <p>HANDS</p>
         <div>Wash them often</div>
      </div>
      <div class="col img-col">
        <div class="tejesh-img"></div>
        <p>ELBOW</p>
        <div>Cough into it</div>
      </div>
      <div class="col img-col">
        <div class="pranay-img"></div>
        <p>FEEL SICK?</p>
        <div>Stay home</div>  
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col img-col">
        <div class="indu-img"></div>
          <p>FACE</p>
          <div>Don't touch it</div>
      </div>
      <div class="col img-col">
        <div class="nissy_carolin-img"></div>
        <p>FEET</p>
        <div>Stay more than 3ft apart</div>
      </div>
      </div>
  </div>

</section>
