<section class="bg-primary bg-dark" style="background-color: #ec474e;" id="about">
    <style type="text/css">
		.image{
			border-radius: 50%;
			height: 200px;
			width: 200px;
		}
	</style>
    <div class="container">
    <center><p style="font-size: 40px;">DO THE FIVE</p></center>
    <br><br>
    <div class="row">
      <div class="col img-col">
        <div>
          <img src="img/hands.png" class="image">
          </div>
        <p>HANDS</p>
         <div>Wash them often</div>
      </div>
	    <br><br>
      <div class="col img-col">
        <div><img src="img/elbow.png" class="image"></div>
        <p>ELBOW</p>
        <div>Cough into it</div>
      </div>
	    <br><br>
      <div class="col img-col">
        <div><img src="img/sick.png" class="image"></div>
        <p>FEEL SICK?</p>
        <div>Stay home</div>  
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col img-col">
        <div><img src="img/face.png" class="image"></div>
          <p>FACE</p>
          <div>Don't touch it</div>
      </div>
	    <br><br>
      <div class="col img-col">
        <div><img src="img/queue.png" class="image"></div>
        <p>FEET</p>
        <div>Stay more than 3ft apart</div>
      </div>
      </div>
  </div>

</section>
