<section class="bg-primary bg-dark" style="background-color: #ec474e;" id="about">
    <div class="container">
    <center><p style="font-size: 40px;">DO THE FIVE</p></center>
    <br><br>
    <div class="row">
      <div class="col img-col">
        <div class="akash-img"></div>
        <p>M. D. N. Akash</p>
        <div>Chair</div>
      </div>
      <div class="col img-col">
        <div class="tejesh-img"></div>
        <p>Venna Tejesh</p>
        <div>Vice Chair</div>
      </div>
      <div class="col img-col">
        <div class="pranay-img"></div>
        <p>Pranay Kashyap</p>
        <div>Secretary</div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col img-col">
        <div class="indu-img"></div>
        <p>Potla Indu</p>
        <div>Joint Secretary</div>
      </div>
      <div class="col img-col">
        <div class="nissy_carolin-img"></div>
        <p>P. Nissy</p>
        <div>Treasurer</div>
      </div>
      <div class="col img-col">
        <div class="niharika-img"></div>
        <p>G. Niharika</p>
        <div>Chief Editor</div>
      </div>
      </div>
  </div>

</section>
