<section id="contact" style="background-color: black; color: cornsilk;">
    <a href="http://h-bots.com/index.html" class="right-b-logo"><img src="img\hbots.png"></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3 class="section-heading">If you have any queries,<br> Please Contact the 
                    <a href="mailto:akash.mallareddy@ieee.org">H-BOTS Support Team</a></h3>
                <hr class="primary">
          <p><a href="http://h-bots.com/index.html">www.h-bots.com</a></p></div>
               
            </div>
    </div>
</section>
