<section id="contact" style="background-color: #353a40; color: cornsilk;">
    <center>
    <a href="https://mappingitservices.tk/"><img src="img\bg-masthead.png" style="position: relative;width:160px;height:130px;border:0;"></a>
    <div class="container">
                <h3 class="section-heading">If you have any queries,<br> Please Contact 
                    <a href="mailto:akash.mallareddy@ieee.org">MAPPING Support Team</a></h3>
                <hr class="primary">
          <p><a href="https://mappingitservices.tk/">www.mappingitservices.tk</a></p></div>    
        </center>
</section>
