<section id="contact" style="background-color: black; color: cornsilk;">
    <center>
    <a href="http://h-bots.com/index.html"><img src="img\hbots.png"></a>
    <div class="container">
                <h3 class="section-heading">If you have any queries,<br> Please Contact 
                    <a href="mailto:akash.mallareddy@ieee.org">H-BOTS Support Team</a></h3>
                <hr class="primary">
          <p><a href="http://h-bots.com/index.html">www.h-bots.com</a></p></div>
        </center>
</section>
