<style>
    i {
  border: solid cornsilk;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
   
</style>
<header>
    <br><br>
    <div class="header-content" style:"margin-top:30px;">
<!--         <div class="header-content-inner">
            
        </div> -->
    </div>
</header>
<div>
    <center>
    <h2>Let Us Defeat Coronavirus Together</h2>
            <hr>
            <p style="color: cornsilk; font-size: 20px; font-weight: bold;color:black">An Initiative by H-BOTS</p>
    </center>
        </div>
