<style>
    i {
  border: solid cornsilk;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
   
</style>
<br><br>
<header>
    <div class="header-content" style:"margin-top:30px;"><br><br>
         <div class="header-content-inner">
             <div>
    <center>
    <h2>Let Us Defeat Corona Virus Together</h2>
            <hr>
            <p style="color: cornsilk; font-size: 20px; font-weight: bold;color:white">An Initiative by Mapping IT Services in collaboration with CIE, Vardhaman College of Engineering</p>
            <p style="color: cornsilk; font-size: 18px; font-weight: bold;color:white">#stayhome #staysafe</p>
            </center>
        </div>
    </div>
    </div>
</header>
