<section id="listofhos" style="background-color: white; color: black;">
    <center>
    <div class="container">
                <h2 class="section-heading">List of Hospitals</h2>
                <hr class="primary">
        <h3>Andhra Pradesh</h3>
        <p>1. Sri Venkateswara Institute of Medical Sciences, Tirupati</p>
        <p>2. Andhra Medical College, Visakhapatnam</p><br>
        <h3>Andaman & Nicobar Islands</h3>
        <p>3. GMC, Anantapur, Andhra Pradesh</p>
        <p>4. Regional Medical Research Centre, Port Blair, Andaman and Nicobar</p><br>
        <h3>Assam</h3>
        <p>5. Gauhati Medical College, Guwahati</p>
        <p>6. Regional Medical Research Center, Dibrugarh</p><br>
        <h3>Bihar</h3>
        <p>7. Rajendra Memorial Research Institute of Medical Sciences, Patna</p><br>
        <h3>Chandigarh</h3>
        <p>8. Post Graduate Institute of Medical Education & Research, Chandigarh</p><br>
        <h3>Chhattisgarh</h3>
        <p>9. All India Institute Medical Sciences, Raipur</p><br>
        <h3>Delhi-NCT</h3>
        <p>10. All India Institute Medical Sciences, Delhi</p>
        <p>11. National Centre for Disease Control, Delhi</p><br>
        <h3>Gujarat</h3>
        <p>12. BJ Medical College, Ahmedabad</p>
        <p>13. M.P.Shah Government Medical College, Jamnagar</p><br>
        <h3>Haryana</h3>
        <p>14. Pt. B.D. Sharma Post Graduate Inst. of Med. Sciences, Rohtak</p>
        <p>15. BPS Govt Medical College, Sonipat</p><br>
        <h3>Himachal Pradesh</h3>
        <p>16. Indira Gandhi Medical College, Shimla, Himachal Pradesh</p>
        <p>17. Dr.Rajendra Prasad Govt. Med. College, Kangra, Tanda, HP</p><br>
        <h3>Jammu and Kashmir</h3>
        <p>18. Sher‐e‐ Kashmir Institute of Medical Sciences, Srinagar</p>
        <p>19. Government Medical College, Jammu</p><br>
        <h3>Jharkhand</h3>
        <p>20. MGM Medical College, Jamshedpur</p><br>
        <h3>Karnataka</h3>
        <p>21. Bangalore Medical College & Research Institute, Bangalore</p>
        <p>22. National Institute of Virology Field Unit Bangalore</p>
        <p>23. Mysore Medical College & Research Institute, Mysore</p>
        <p>24. Hassan Inst. of Med. Sciences, Hassan, Karnataka</p>
        <p>25. Shimoga Inst. of Med. Sciences, Shivamogga, Karnataka</p><br>
        <h3>Kerala</h3>
        <p>26. National Institute of Virology Field Unit, Kerala</p>
        <p>27. Govt. Medical College, Thriuvananthapuram, Kerala</p>
        <p>28. Govt. Medical College, Kozhikhode, Kerala</p><br>
        <h3>Madhya Pradesh</h3>
        <p>29. All India Institute Medical Sciences, Bhopal</p>
        <p>30. National Institute of Research in Tribal Health (NIRTH), Jabalpur</p><br>
        <h3>Meghalaya</h3>
        <p>31. NEIGRI of Health and Medical Sciences, Shillong, Meghalaya</p><br>
        <h3>Maharashtra</h3>
        <p>32. Indira Gandhi Government Medical College, Nagpur</p>
        <p>33. Kasturba Hospital for Infectious Diseases, Mumbai</p><br>
        <h3>Manipur</h3>
        <p>34. J N Inst. of Med. Sciences Hospital, Imphal‐East, Manipur</p><br>
        <h3>Odisha</h3>
        <p>35. Regional Medical Research Center, Bhubaneswar</p><br>
        <h3>Puducherry</h3>
        <p>36. Jawaharlal Institute of Postgraduate Medical Education & Research, Puducherry</p><br>
        <h3>Punjab</h3>
        <p>37. Government Medical College, Patiala, Punjab</p>
        <p>38. Government Medical College, Amritsar</p><br>
        <h3>Rajasthan</h3>
        <p>39. Sawai Man Singh, Jaipur</p>
        <p>40. Dr. S.N Medical College, Jodhpur</p>
        <p>41. Jhalawar Medical College, Jhalawar, Rajasthan</p>
        <p>42. SP Med. College, Bikaner, Rajasthan</p><br>
        <h3>Tamil Nadu</h3>
        <p>43. King’s Institute of Preventive Medicine & Research, Chennai</p>
        <p>44. Government Medical College, Theni</p><br>
        <h3>Tripura</h3>
        <p>45. Government Medical College, Agartala</p><br>
        <h3>Telangana</h3>
        <p>46. Gandhi Medical College, Secunderabad</p><br>
        <h3>Uttar Pradesh</h3>
        <p>47. King’s George Medical University, Lucknow</p>
        <p>48. Institute of Medical Sciences, Banaras Hindu University, Varanasi</p>
        <p>49. Jawaharlal Nehru Medical College, Aligarh</p><br>
        <h3>Uttarakhand</h3>
        <p>50. Government Medical College, Haldwani</p><br>
        <h3>West Bengal</h3>
        <p>51. National Institute of Cholera and Enteric Diseases, Kolkata</p>
        <p>52. IPGMER, Kolkata</p>
        <a href="https://www.livemint.com/news/india/coronavirus-complete-list-of-52-testing-sites-across-india-11583760738059.html">Source</a>
        </div>
        </center>
</section>
