<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><a href="https://www.covid19india.org/">COVID19 INDIA TRACKER</a></h2>
                <hr class="primary">
                <center><img src="img\arrow.gif" alt="down arrow" style="width:80px;height:80px;"></center>
            </div>
        </div>
    </div>
    <div class="container">
    <a href="https://www.covid19india.org/">
  <center><img src="img\ed.png" alt="COVID19 INDIA TRACKER" style="width:330px;height:400px;border:0;"></center>
  </a>
    </div>
</section>
