<section id="symptoms" style="background-color: #353a40; color: cornsilk;">
    <center>
    <div class="container">
                <h2 class="section-heading">Symptoms</h2>
                <hr class="primary">
      <h3>Common Symptoms Include:</h3>
        <ul style="list-style-type:none;">
<li>Fever</li>
<li>Tiredness</li>
<li>Dry Cough</li>
            </ul>
      <h3>Other Symptoms Include:</h3>
     <ul style="list-style-type:none;"> 
  <li>Sore Throat</li>
  <li>Aches and Pains</li>
  <li>Shortness of Breath</li>
  <li>Diarrhoea(rare cases)</li>
  <li>Runny Nose(rare cases)</li>
         </ul>
  <a href="https://www.who.int/health-topics/coronavirus#tab=tab_3">Source</a>
</center>
        </div>
</section>
