<section id="symptoms" style="background-color: #353a40; color: cornsilk;">
    <center>
    <div class="container">
                <h2 class="section-heading">Symptoms</h2>
                <hr class="primary"></center>
      <h3>Common Symptoms Include:</h3>
<ul>
  <li>Fever</li>
  <li>Tiredness</li>
  <li>Dry Cough</li>
</ul>
      <h3>Other Symptoms Include:</h3>
      <ul>
  <li>Shortness of Breath</li>
  <li>Aches and Pains</li>
  <li>Sore Throat</li>
  <li>Very few people will report Diarrhoea, Nausea or a Runny Nose</li>
</ul>
</section>
