<section id="symptoms" style="background-color: #353a40; color: cornsilk;">
    <center>
    <div class="container">
                <h3 class="section-heading">Symptoms</h3>
                <hr class="primary">
      <h2>Common Symptoms Include:</h2>
<ul>
  <li>Fever</li>
  <li>Tiredness</li>
  <li>Dry Cough</li>
</ul>
      <h2>Other Symptoms Include:</h2>
      <ul>
  <li>Shortness of Breath</li>
  <li>Aches and Pains</li>
  <li>Sore Throat</li>
  <li>Very few people will report Diarrhoea, Nausea or a Runny Nose</li>
</ul>
</center>
</section>
