<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include symptoms.html %}
  {% include listofhos.html %}
  <!--{% include portfolio.html %}-->
  <!--{% include aside.html %}-->
  {% include contact.html %}
  <footer>
    <div class="container">
      <center><br><p>&copy; MAPPING IT SERVICES 2020. All Rights Resevered</p></center>
    </div>
  </footer>
  {% include scripts.html %}
</body>

</html>
